body {
  text-align: center;
  font-size: 100%;
  padding: 5%;
  padding-bottom: calc(5% + 60px);
  font-family: 'Baloo Bhai 2', cursive;
}

.rbt a.dropdown-item {
  margin-left: 10px;
}

#search-bar {
  overflow-x: hidden !important;
}

#dashboard {
  margin-top: 70px;
}

.form-group {
  display: inline-block;
}

button > img {
  filter: invert(1);
}

input[type='date'] {
  text-align: center;
}

body.dark input[type='date'] {
  color: #30403a !important;
  background-color: cornflowerblue !important;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  cursor: text;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

img,
i.weather-icon,
#settings-icon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.font-size-50 {
  font-size: 50px;
}

div.dropdown {
  display: inline-block;
}

#search-bar-group {
  white-space: nowrap;
}

form > div.form-group {
  margin: 20px;
}

a {
  text-decoration: none;
  float: left;
}

#settings [data-aos='fade-up'],
h5,
div#no-data-question-container[data-aos='fade-up'] {
  -webkit-transform: translate3d(-50%, 50px, 0) !important;
  transform: translate3d(-50%, 50px, 0) !important;
}

h5.aos-animate,
#settings [data-aos^='fade'][data-aos^='fade'].aos-animate,
div#no-data-question-container.aos-animate {
  transform: translate(-50%, -50%) !important;
}

#settings-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#progress-ring-row {
  margin-top: 10px;
}

body.dark .part-border {
  border: 1px solid white;
}

.part-border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
}

input.form-check-input {
  cursor: pointer;
}

body.dark input.rbt-input-main {
  background-color: #303030;
  caret-color: white;
  color: white !important;
}

body.dark input.rbt-input-hint {
  color: rgba(255, 255, 255, 0.5) !important;
}

body.dark #settings-icon > img,
body.dark .weather-icon,
body.dark #no-data-question {
  filter: invert(1) contrast(0.1) brightness(1.5);
}

label {
  cursor: text;
}

#no-data-question {
  width: 100px;
}

#no-data-question + br + span {
  margin-top: 10px;
}

[data-test-id='CircularProgressbarWithChildren__children'] {
  width: 80% !important;
  margin-left: 10%;
}

.container-fluid {
  margin-top: 50px;
}

@media (min-width: 768px) {
  #thermometer-container {
    margin-right: 3%;
    width: 22%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  #thermometer-container {
    margin-right: 3%;
    width: 30%;
  }

  .thermometer {
    margin-top: 31.25px;
  }
}

@media (max-width: 576px) {
  #preview-icons {
    margin-top: 10px;
  }
}

.thermometer {
  margin-right: auto;
  margin-left: auto;
}

.progress-ring {
  width: 200px;
  max-width: inherit;
}

#language-form-group {
  white-space: nowrap;
}
