/* Brought from https://vineethtrv.github.io/loader/ */

.loader,
.loader-center {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-top: 5px solid red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-center {
  margin-top: 10%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Invert in light mode */

body:not(.dark) .loader,
body:not(.dark) .loader-center {
  border: 5px solid #000;
  border-top: 5px solid red;
}
